.add-form form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.add-form input {
  width: 100%;
}

.add-form button {
  width: fit-content;
  margin-top: 0.7rem;
  margin-bottom: 1rem;
  padding: 0.24rem 0.7rem;
  place-self: center;
}

.form-buttons-ctn {
  display: flex;
  gap: 2rem;
  justify-content: center;
}
