.todo {
  padding-right: 1rem;
}
.todo-content {
  font-size: 1.2rem;
  margin-bottom: 0.2rem;
}

.todo-meta {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  margin: 0;
  font-size: 0.9rem;
}

.todo-meta p {
  margin: 0;
}

.timestamp {
  font-size: 0.8rem;
  font-style: italic;
}

.todo-action-icons {
  margin-top: 0.5rem;
  display: flex;
  gap: 0.7rem;
}

.todo-action-icons * {
  height: 1rem;
}
